<template>
  <section
    id="get-in-touch"
    class="overflow-hidden"
  >
    <v-row
      class="info white--text"
      no-gutters
    >
      <v-col
        class="hidden-sm-and-down"
        md="6"
      >
        <v-img
          :src="require('@/assets/contact.png')"
          height="100%"
        />
      </v-col>

      <v-col
        class="pa-5"
        cols="12"
        md="6"
      >
        <base-bubble-1 />

        <base-heading class="mb-5">
          Записаться
        </base-heading>

        <v-sheet
          color="transparent"
          max-width="600"
        >
          <v-text-field
            v-model="form.name"
            color="info"
            label="Имя"
            solo
            flat
          />

          <v-text-field
            v-model="form.phone"
            color="info"
            type="tel"
            label="Телефон"
            solo
            flat
          />

          <v-select
            v-model="form.selectedServices"
            item-text="name"
            item-value="id"
            :items="services"
            return-object
            multiple
            label="Услуга"
            color="info"
            solo
            flat
            no-data-text="Услуг не обнаруженно"
          ></v-select>

          <v-textarea
            v-model="form.message"
            color="info"
            label="Комментарий"
            solo
            flat
          />

          <base-btn @click="send" :loading="loading">Отправить</base-btn>
        </v-sheet>
      </v-col>
    </v-row>
  </section>
</template>

<script>
export default {
  name: 'GetInTouch',

  data: () => ({
    services: [
      {
        id: 1,
        name: 'Коррекция бровей'
      },
      {
        id: 2,
        name: 'Оформление бровей'
      },
      {
        id: 3,
        name: 'Долговременная укладка бровей'
      }
    ],
    loading: false,
    form: {
      name: '',
      phone: '',
      selectedServices: [],
      message: ''
    }
  }),

  methods: {
    clear () {
      this.form = {
        name: '',
        email: '',
        selectedServices: [],
        message: ''
      };
    },
    async send () {
      this.loading = true;
      await fetch("/api/v1/bid", {
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          name: this.form.name,
          message: this.form.message,
          services: this.form.selectedServices.map(service => service.name),
          phone: this.form.phone
        }),
        method: 'POST'
      });
      await new Promise((resolve, reject) => setTimeout(resolve, 1000));
      this.clear();
      this.loading = false;
    }
  }
}
</script>
