<template>
  <section
    id="recent-projects"
    class="overflow-hidden"
  >
    <v-row no-gutters>
      <v-col
        class="primary text-center pa-5 white--text"
        cols="12"
        md="12"
      >
        <base-bubble-1
          style="transform: rotate(180deg) translateX(25%)"
        />

        <base-heading>
          Наши работы
        </base-heading>

        <base-text class="mb-5">
          Мы фокусируемся на качестве <br> наблюдая за которым нельзя оторвать глаз
        </base-text>

        <v-card color="secondary">
          <v-container class="pa-2">
            <v-row>
              <v-col
                v-for="project in projects"
                :key="project"
                cols="12"
                sm="6"
                md="3"
              >
                <a href="#">
                  <v-img
                    :src="require(`@/assets/images/${project}.jpeg`)"
                    :max-height="imageHeight"
                  />
                </a>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>

<script>
export default {
  name: 'RecentProjects',

  data: () => ({
    projects: [
      'project1',
      'project2',
      'project3',
      'project4'
    ]
  }),

  computed: {
    imageHeight () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return 400
        case 'sm':
          return 300
        case 'md':
          return 250
        case 'lg':
          return 250
        default:
          return 250
      }
    }
  }
}
</script>
