<template>
  <section
    id="services"
    class="overflow-hidden"
  >
    <v-row
      class="accent"
      no-gutters
    >
      <v-col
        class="text-center pa-3"
        cols="12"
      >
        <v-row
          class="fill-height"
          align="center"
          justify="center"
        >
          <v-col cols="12">
            <base-heading class="info--text">
              Услуги
            </base-heading>
          </v-col>

          <v-col
            v-for="(service, i) in services"
            :key="i"
            cols="12"
            md="6"
          >
            <v-card shaped>
              <v-card-title class="primary">
                <p style="overflow-wrap: break-word" class="my-0 py-0">
                  {{ service.name }}
                </p>
              </v-card-title>
              <v-container fluid>
                <v-list
                  subheader
                >
                  <v-subheader>{{ service.description }}</v-subheader>
                  <v-list-item class="text-left"
                    v-for="(item, i) in service.list"
                    :key="`item-${i}`"
                  >
                    <v-list-item-content>
                        — {{ item }}
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
                <v-list
                  subheader
                >
                  <v-subheader>Процедура необходима</v-subheader>
                  <v-list-item class="text-left"
                               v-for="(item, i) in service.required"
                               :key="`required-${i}`"
                  >
                    <v-list-item-content>
                        <p>— {{ item }}</p>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </section>
</template>

<script>
export default {
  name: 'Services',

  data: () => ({
    services: [
      // {
      //   name: 'Коррекция бровей',
      //   icon: 'mdi-certificate',
      //   description: 'Процедура состоит из:',
      //   list: [
      //     'Воск',
      //     'Пинцет'
      //   ],
      //   required: [
      //     'Всем'
      //   ]
      // },
      {
        name: 'Оформление бровей',
        icon: 'mdi-certificate',
        description: 'В процедуру входит:',
        list: [
          'Скрабирование или пилинг',
          'Построение новой формы или коррекция старой',
          'Коррекция волосков пинцетом',
          'Коррекция волосков воском',
          'Окрашивание краской или хной',
          'Фиксация бровок гелем',
          'Консультация по уходу за бровками и кожей вокруг'
        ],
        required: [
          'Всем'
        ]
      },
      {
        name: 'Долговременная укладка бровей',
        icon: 'mdi-account-search',
        description: 'Эта процедура стала самой популярной в прошлом году. ',
        list: [
          'Идеальную форму и фиксацию с помощью специальных средств',
          'Ухоженные брови на 4-6 недель',
          'Эффект натуральных, модных бровей',
          'Процедура позволяет сделать форму бровей шире'
        ],
        required: [
          'Обладательницам густых бровей, которые не поддаются укладке в домашних условиях',
          'Подходит для жёстких, кудрявых бровей',
          'Женщинам, чьи брови растут в разные стороны',
          'Для длинных волосков'
        ]
      }
    ]
  })
}
</script>
